@model List<FamousQuoteQuiz.Models.Author>
<div class="text-center">
    
        @foreach (var item in Model)
        {
            // <li>@item.AuthorName</li>
            <p>
                @Html.ActionLink(@item.AuthorName, "IsAnswerCorrect", new { id = item.Id }, new { @class = " btn btn-info", @id = "" })

            </p>

        }
    
   
</div>
