@model FamousQuoteQuiz.Models.Question

<div class="question panel-body">
    "@Model.Content"
</div>
<br />

<div class="text-center" id="authors_container">
    @Model.Author.AuthorName?
</div><br />
            